.input{
    background-color: red;
    padding: 5px 10px;
    border :1px solid red ;
}
.Identitas{
    background-color: white;
    border :1px solid red ;
    padding: 2px 5px;
    width: 150px;
}

